@use "node_modules/breakpoint-slicer" as bs;

.skills-grid {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(2, 1fr);

	@include bs.from(xl) {
		grid-template-columns: repeat(3, 1fr);
	}

	@include bs.to(s) {
		display: block;
	}
}