@use 'node_modules/breakpoint-slicer' as bs;
@import '../../styles/colors.scss';

.wrapper {
	transition: all 300ms ease;

	@include withTheme(background-color, background);
	@include withTheme(color, on-background);
}

.switch-theme {

	&__button {
		@include withTheme(color, switch-btn);
		border: none;
		background-color: none;
		outline: none;
		cursor: pointer;
	}
}

.container {
	display: flex;
	justify-content: center;

	main {
		width: 80vw;
		max-width: 1000px;

		@include bs.to(s) {
			width: 100%;
		}
	}
}

header {
	display: flex;
	justify-content: space-between;
	padding: 10px 30px;
}

.locales {
	padding: .5rem 1rem;
	font-size: 13px;
	border: .5px solid;
	border-radius: 5px;
	position: relative;

	@include withTheme(color, on-background-secondary);
	@include withTheme(border-color, border);

	&__button-selected {
		text-decoration: underline;
		font-weight: 500;

		@include withTheme(color, text);
	}
}