@use "node_modules/breakpoint-slicer" as bs;

@keyframes timeline-grow {
	0% {
		bottom: 0;
		top: 100%;
	}

	100% {
		top: 0;
		bottom: 0;
	}
}

@keyframes experience-item-appear {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.experience-list {
	list-style-type: none;
	padding: 1rem 0 0 0;
	margin: 0;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		width: .3rem;
		display: block;
		left: calc(.8rem + 1px);
		border-radius: 5px;

		@include withTheme(background-color, secondary);
		animation: timeline-grow 3s linear;
	}

	&__item:last-child::before {
		content: '';
		position: absolute;
		width: .3rem;
		left: calc(.8rem + 1px);
		top: 50%;
		bottom: 0;

		@include withTheme(background-color, background);
	}

	&__item + &__item {
		margin-top: 1rem;
	}

	&__timestamp {
		font-size: .8rem;
		margin-left: 5px;
		min-width: 5rem;

		@include withTheme(background-color, secondary);
	}

	&__item {
		box-sizing: border-box;
		position: relative;
		display: flex;
		align-items: center;
	}

	&__item:not(:last-child) {
		opacity: 0;
		animation: experience-item-appear .5s ease;
		animation-fill-mode: forwards;  
	}

	&__item:first-of-type > &__timeline {
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}

	&__item:last-of-type > &__timeline {
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}

	&__timeline {
		min-width: 8px;
		align-self: stretch;
		display: block;
	}

	&__timedot {
		position: relative;
		z-index: 2;
		width: 2rem;
		height: 2rem;
		border-radius: 100%;
		flex-shrink: 0;
		margin-right: 7px;

		border: 3px solid;
		@include withTheme(border-color, background);
		@include withTheme(background-color, secondary);
	}
}