@use "node_modules/breakpoint-slicer" as bs;

.experience-list {
	list-style-type: none;
	padding: 0;
	margin: 0;

	&__item {
		box-sizing: border-box;
		position: relative;
		display: flex;
	}

	&__item:first-of-type > &__timeline {
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}

	&__item:last-of-type > &__timeline {
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}

	&__timeline {
		min-width: 8px;
		// height: 100%;
		align-self: stretch;
		display: block;

		// @include bs.to(m) {
		// 	display: none;
		// }
	}
}