@use "node_modules/breakpoint-slicer" as bs;

.summary {
	margin: 0 1rem 1rem 0;
	padding: 15px 20px;
	border: .5px solid;
	border-radius: 5px;
	
	@include withTheme(color, on-surface-3);
	@include withTheme(background-color, surface-3);
	@include withTheme(border-color, border);

	@include bs.to(m) {
		margin: 1rem;
	}

	&__tag {
		margin-bottom: 1rem;
		margin-top: 0;
		font-size: 2rem;
		
		@include withTheme(color, primary);

		@include bs.to(m) {
			text-align: center;
		}
	}

	&__main {
		margin-bottom: 2rem;
	}

	&__name, &__age, &__geo, &__prof, &__download {
		margin: 0 0 .3rem 0;
		text-align: center;
	}

	&__city {
		margin-left: .35rem;
	}

	&__socials {
		margin-top: .5rem;
	}
	
	&__download {
		margin-top: 2rem;
		font-size: .85rem;
		text-decoration: underline;
	}
}