@use "node_modules/breakpoint-slicer" as bs;

.skill-card {
	display: flex;
	position: relative;
	padding: 10px;
	cursor: pointer;
	border: 1px solid;
	border-radius: 7px;
	transition: transform 250ms ease;
	align-items: center;

	@include withTheme(color, on-surface-2);
	@include withTheme(background-color, surface-2);
	@include withTheme(border-color, border);

	&__img {
		padding: 8px 10px 5px 5px;
	}

	&__info {
		flex: 1;
		text-align: center;
	}

	&__img, &__info {
		transition: transform 250ms ease;
	}
	
	&__name {
		margin: 0;
	}

	&__subtitle {
		font-size: .75rem;
	}

	&:hover {
		z-index: 2;
		transform: scale(1.06);

		@include withTheme(border-color, border-hover);
	}

	@include bs.to(s) {
		margin: 10px 5px;
	}

	// With image styles overrides
	&_with-img {
		padding: 5px;
	}

	&_with-img &__info {
		text-align: left;
	}

	// With description styles overrides 
	&__description {
		font-size: 12px;
		position: absolute;
		z-index: 3;
		top: 73%;
		padding: 0 16px 5px 15px;
		left: -1px;
		right: -1px;
		border: 1px solid;
		border-radius: 7px;
		border-top: 0;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		opacity: 0;
		transition: all 250ms ease;
		text-align: center;
		
		@include withThemeInline(box-shadow, 0 7px 2px 5px, background);
		@include withTheme(background-color, surface-2);
		@include withTheme(border-color, border-hover);
	}

	&_description:hover &__description {
		opacity: 1;
	}

	&_description:hover &__info, &_description:hover &__img {
		transform: translateY(-10px);
	}

	&_with-img &__description {
		text-align: left;
	}
}