@use 'node_modules/breakpoint-slicer' as bs;
@import '../../styles/colors.scss';

.resume-info {

	&__about, &__exp, &__skills-section {
		border-radius: 5px;
		padding: .7rem;
		margin-bottom: 2rem;
	}
	
	&__sec-title {
		margin-top: 0;
		// letter-spacing: 2px;
		@include withTheme(color, primary);

		@include bs.to(m) {
			text-align: center;
		}
	}
}