@import '../../styles/colors.scss';

.resume-info {
	// padding: 1rem;

	&__about, &__exp, &__primary-skills, &__other-skills {
		border-radius: 5px;
		padding: .7rem;
		// box-shadow: 1px 1px 5px gray;
		margin-bottom: 2rem;
		// background-color: #fff;
		// border: 0.5px solid #e4e4e4;
	}
	
	&__sec-title {
		margin-top: 0;
		color: $c3;
	}
}