@use 'node_modules/breakpoint-slicer' as bs;

@import '../components';
@import './colors.scss';

html,
body {
	background-color: $c0;
	color: $c2;
  	padding: 0;
  	margin: 0;
  	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    	Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	
	@include bs.to(s) {
		font-size: .9rem;
	}
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
